.space{
    padding-right: 75px;
}
.space1{
    padding-right: 37px;
}
.space2{
    padding-right: 65px;
}
.space3{
    padding-right: 48px;
}
.padL0{
  padding-left: 0px;
}
.magb10{
  margin-bottom: 10px;
}
