
<div class="container">
  <h1>Check Invoice</h1>
  <div class="cards-container">
      <div class="cards-form">
          <form #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for=""><h5><b>PaymentId</b></h5></label>
                  <input class="marl15" type="text" name="paymentId" [(ngModel)]="pay.paymentId">
              </div>

              <div class="form-group">
                  <button class="btn btn-primary">Get Invoice</button>
              </div>
              <!-- <div class="form-group">
                <button>Get Purchased Book Details</button>
            </div> -->
          </form>
      </div>
  </div>
</div>

<div class="card-body" *ngIf='showHistory'>
  <div class="table-responsive">
      <table class="table" *ngIf="history.length">
          <thead class="table-dark">
              <tr>
                  <th>PaymentId</th>
                  <th>Title</th>
                  <th>Buyer Name</th>
                  <th>Price</th>
                  <th>PaymentDate</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of history">
                  <td>{{item.paymentId}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.buyerName}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.paymentDate | date}}</td>

              </tr>
          </tbody>
      </table>

  </div>
</div>
